<div class="center">
  <ng-container *ngIf="show">
    <div class="field">

    </div>
  </ng-container>
  <div class="main">
    <div id="11" (click)="move($event,1, 1);" class="white white_king"></div>
    <div id="21" (click)="move($event,2,1);" class="black black_king"></div>
    <div id="31" (click)="move($event,3,1);" class="white"></div>
    <div id="41" (click)="move($event,4,1);" class="black"></div>
    <div id="51" (click)="move($event,5,1);" class="white"></div>
    <div id="61" (click)="move($event,6,1);" class="black"></div>
    <div id="71" (click)="move($event,7,1);" class="white"></div>
    <div id="81" (click)="move($event,8,1);" class="black"></div>
  </div>

  <div class="main">
    <div id="12" (click)="move($event,1,2);" class="black"></div>
    <div id="22" (click)="move($event,2,2);" class="white"></div>
    <div id="32" (click)="move($event,3,2);" class="black"></div>
    <div id="42" (click)="move($event,4,2);" class="white"></div>
    <div id="52" (click)="move($event,5,2);" class="black"></div>
    <div id="62" (click)="move($event,6,2);" class="white"></div>
    <div id="72" (click)="move($event,7,2);" class="black"></div>
    <div id="82" (click)="move($event,8,2);" class="white"></div>
  </div>


  <div class="main">
    <div id="13" (click)="move($event,1,3);" class="white"></div>
    <div id="23" (click)="move($event,2,3);" class="black"></div>
    <div id="33" (click)="move($event,3,3);" class="white"></div>
    <div id="43" (click)="move($event,4,3);" class="black"></div>
    <div id="53" (click)="move($event,5,3);" class="white"></div>
    <div id="63" (click)="move($event,6,3);" class="black"></div>
    <div id="73" (click)="move($event,7,3);" class="white"></div>
    <div id="83" (click)="move($event,8,3);" class="black"></div>
  </div>

  <div class="main">
    <div id="14" (click)="move($event,1,4);" class="black"></div>
    <div id="24" (click)="move($event,2,4);" class="white"></div>
    <div id="34" (click)="move($event,3,4);" class="black"></div>
    <div id="44" (click)="move($event,4,4);" class="white"></div>
    <div id="54" (click)="move($event,5,4);" class="black"></div>
    <div id="64" (click)="move($event,6,4);" class="white"></div>
    <div id="74" (click)="move($event,7,4);" class="black"></div>
    <div id="84" (click)="move($event,8,4);" class="white"></div>
  </div>

  <div class="main">
    <div id="15" (click)="move($event,1,5);" class="white"></div>
    <div id="25" (click)="move($event,2,5);" class="black"></div>
    <div id="35" (click)="move($event,3,5);" class="white"></div>
    <div id="45" (click)="move($event,4,5);" class="black"></div>
    <div id="55" (click)="move($event,5,5);" class="white"></div>
    <div id="65" (click)="move($event,6,5);" class="black"></div>
    <div id="75" (click)="move($event,7,5);" class="white"></div>
    <div id="85" (click)="move($event,8,5);" class="black"></div>
  </div>

  <div class="main">
    <div id="16" (click)="move($event,1,6);" class="black"></div>
    <div id="26" (click)="move($event,2,6);" class="white"></div>
    <div id="36" (click)="move($event,3,6);" class="black"></div>
    <div id="46" (click)="move($event,4,6);" class="white"></div>
    <div id="56" (click)="move($event,5,6);" class="black"></div>
    <div id="66" (click)="move($event,6,6);" class="white"></div>
    <div id="76" (click)="move($event,7,6);" class="black"></div>
    <div id="86" (click)="move($event,8,6);" class="white"></div>
  </div>

  <div class="main">
    <div id="17" (click)="move($event,1,7);" class="white"></div>
    <div id="27" (click)="move($event,2,7);" class="black"></div>
    <div id="37" (click)="move($event,3,7);" class="white"></div>
    <div id="47" (click)="move($event,4,7);" class="black"></div>
    <div id="57" (click)="move($event,5,7);" class="white"></div>
    <div id="67" (click)="move($event,6,7);" class="black"></div>
    <div id="77" (click)="move($event,7,7);" class="white"></div>
    <div id="87" (click)="move($event,8,7);" class="black"></div>
  </div>

  <div class="main">
    <div id="18" (click)="move($event,1,8);" class="black"></div>
    <div id="28"(click)="move($event,2,8);" class="white"></div>
    <div id="38"(click)="move($event,3,8);" class="black"></div>
    <div id="48"(click)="move($event,4,8);" class="white"></div>
    <div id="58"(click)="move($event,5,8);" class="black"></div>
    <div id="68"(click)="move($event,6,8);" class="white"></div>
    <div id="78"(click)="move($event,7,8);" class="black"></div>
    <div id="88"(click)="move($event,8,8);" class="white"></div>
  </div>

</div>

<h1 (click)="input('11', '57');" class="white">Test</h1>


